name: Go
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
jobs:
  build:
    name: ${{ matrix.name }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        name:
          - macos
          - ubuntu
          - windows
        include:
          - name: macos
            os: macos-latest
            prefix: /usr/local
            sudo: sudo
          - name: ubuntu
            os: ubuntu-22.04
            prefix: /usr
            sudo: sudo
          - name: windows
            os: windows-latest
            prefix: D:\
            sudo: ''
            meson_options: -Dportable=true -Db_vscrt=static_from_buildtype

    steps:
      - name: Install python
        if: matrix.os == 'ubuntu-22.04'
        run: sudo apt-get --assume-yes install python3-wheel python3-setuptools python3-dev ninja-build meson
      - uses: actions/setup-python@v2
        if: matrix.os == 'windows-latest'
      - name: Install dependencies (Windows)
        if: matrix.os != 'ubuntu-22.04'
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install meson ninja
      - uses: actions/checkout@v2
      - uses: seanmiddleditch/gha-setup-vsdevenv@master
        if: matrix.os == 'windows-latest'
      - name: Install Rizin
        run: |
          git clone https://github.com/rizinorg/rizin
          cd rizin
          git checkout v0.4.1
          meson --buildtype=release --prefix=${{ matrix.prefix }} ${{ matrix.meson_options }} build
          meson compile -C build
          ${{ matrix.sudo }} meson install -C build
          cd ..
      - name: Add rizin dir to PATH
        if: matrix.os == 'windows-latest'
        run: |
          echo "D:/bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - name: Set up Go 1.19
        uses: actions/setup-go@v1
        with:
          go-version: 1.19
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1
      - name: Run unit tests
        run: go test ./... -race -coverprofile=coverage.txt -covermode=atomic
      - name: Build the Go binary
        run: go build
      - name: Make sure jsdec is present in the database
        run: ./rz-pm list | grep -q 'Converts asm to pseudo-C code'
      - name: Install jsdec
        run: |
          rizin -H
          ./rz-pm install jsdec
      - name: Check jsdec
        run: ls $(rizin -H RZ_USER_PLUGINS) | grep core_pdd
