name: Go
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
jobs:
  build:
    name: ${{ matrix.name }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        name:
          - macos-clang
          - ubuntu-clang
          - windows-gcc
        include:
          - name: macos-clang
            os: macos-latest
            cc: clang
          - name: ubuntu-clang
            os: ubuntu-latest
            cc: clang
          - name: ubuntu-gcc
            os: ubuntu-latest
            cc: gcc
          - name: windows-gcc
            os: windows-latest
            cc: gcc

    steps:
      - name: Install python
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get --assume-yes install python3-wheel python3-setuptools python3-dev ninja-build meson
      - uses: actions/setup-python@v2
        if: matrix.os == 'windows-latest'
      - name: Install dependencies (Windows)
        if: matrix.os != 'ubuntu-latest'
        run: |
          python -m pip install --upgrade pip
          pip install meson ninja
      - uses: actions/checkout@v2
      - name: Install Rizin
        run: |
            git clone --depth=1 https://github.com/rizinorg/rizin
            cd rizin
            meson --buildtype=release --prefix=/usr build
            ninja -C build
            sudo ninja -C build install
            cd ..

      - name: Set up Go 1.19
        uses: actions/setup-go@v1
        with:
          go-version: 1.19
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Run unit tests
        run: go test ./... -race -coverprofile=coverage.txt -covermode=atomic

      - name: Build the Go binary
        run: go build

      - name: Make sure jsdec is present in the database
        run: ./rz-pm list | grep -q 'Converts asm to pseudo-C code'

      - name: Install jsdec
        run: ./rz-pm install jsdec

      - name: Check jsdec
        run: ls $(rizin -H RZ_USER_PLUGINS) | grep core_pdd
